{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "@typescript-eslint",
    "react-native",
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".d.ts",
          ".tsx"
        ]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "react-native/react-native": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      120
    ],
    "global-require": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".tsx"] }],
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-native/no-unused-styles": "warn",
    "react-native/split-platform-components": "error",
    "react-native/no-inline-styles": "warn",
    "react-native/no-color-literals": "error",
    "react-native/no-raw-text": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "spaced-comment": "off",
    "no-multiple-empty-lines": ["error", { "max": 1}],
    "react/destructuring-assignment": "warn",
    "react/forbid-foreign-prop-types": "error"
  }
}
